body {
  margin : 0;
}

header {
  margin:0;
}
a {
text-decoration: none ;
color: grey ;
}

li {
  display: inline-table;
  position: relative;
  float: right;
margin-top:20px;
margin-right: 1.5em ;
margin-bottom: 5px ;
}

p {
  margin : 0;
  text-align: left;

}
ul { margin-right: 90px ;
}

.header {
  display: block;
  background-color: #C0C0C0 ;
  width: 100% ;
  height: 50px ;
  margin-top: 0;
}

.res {
  font-weight: bold;
  margin-right:20em;
  margin-top :0 ;
  margin-bottom: 0px;
}




.tel {
  position: relative;
  display: inline-table;
  float: left;
  word-spacing: 5px ;
  margin-left: 12em ;
  margin-top: 10px;
}

.reso {
display: inline;
text-align: center;
word-spacing: 10px ;

}
.imgh {
  width: 100%;
  height: 25em ;
}
.reno {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em ;
  color: yellow;
  margin-left: 10em;
  margin-top: 1em ;
}

.home {
  position: absolute;
  color: yellow ;
  margin-left: 40em;
  margin-top: 35px ;
  font-weight: bold;
}
